# Node.js
node_modules/
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Configurações de editor e sistema
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
*.swp

# Resultados de testes e relatórios
cypress/reports/
cypress/results/

# Cache do Cypress
.cypress_cache/

# Arquivos de build
/dist/
/build/

# Cobertura de código (se estiver usando ferramentas como istanbul)
coverage/
